* {
    background-color: rgb(166, 255, 0);
}

h1 {
    background-color: rgb(43, 0, 255);
}
.hii {
    background-color: rgb(0, 255, 4);
}
#hii {
    background-color: rgb(0, 255, 0);
}

section h2 {
    background-color: rgb(255, 0, 0);
}

section > h2 {
    background-color: rgb(0, 221, 255);
}

div ~ h2 {
    background-color: rgb(255, 187, 0);
}

h2+h2 {
    background-color: rgb(255, 255, 0);
}