div{height: 50px; margin: 10px;}


#div1{background-color: rgb(106, 170, 226); width:7in;}
#div2{background-color: lightcoral; width:7cm;}
#div3{background-color: lightgreen; width:7mm;}
#div4{background-color: rgb(197, 197, 56); width:7px;}