body {
    background-color: #fdfcfc;
}

.margin {
    background-color: #041f72;
    padding: 30px;
    width: 500px;
    text-align: center;
    margin-left: 400px;
}

.border {
    background-color: #1553d8;
    padding: 30px;
    text-align: center;
}

.padding {
    background-color: #418ae4;
    padding: 30px;
    text-align: center;
}

.content {
    background-color: #72a8ea;
    padding: 50px;
    text-align: center;
}